@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 400px;
}

.profileboard {
  display: flex;
  

}
.dashboard  {
  margin-top: 90px;
  margin-left: 10%;
  width: 400px;
  justify-content: center
  
  
 } 
 .userAction {
  margin-left: 25%;
  margin-top: 100px;
  width: 400px;
  justify-content: center
 }

 .deleteUser {
   display: flex;
   margin-top: 120px;
   margin-left: 68%;
 }
.points {
  display: flex;
  margin-left: 25%;
  margin-top: 40px;
}
.name{
  margin-top: 5%;

}