@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 400px;
}
.dashboard  {

  margin-top: 80px;
  margin-left: 20%;
  width: 400px;
  justify-content: center
 }
 .userAction {
  margin-left: 60%;
  width: 400px;
  justify-content: center
 }